body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

.layout {
  height: 100%;
  width: 100%;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
}
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar-btn {
  border: none;
  font-size: 84px;
  padding: 0 12px;
  color: rgb(186, 186, 186);
  margin: 0;
  cursor: default;
  width: 50px;
  user-select: none;
  margin-top: 10px;
}

.nav-bar-btn:hover {
  cursor: pointer;
  color: rgb(148, 148, 148);
}

.container {
  height: 100%;
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 0 16px;
  z-index: 10;
  background-color: rgb(241, 241, 241);
}

.menu-tabs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
  cursor: default;
  height: 65px;
}

.menu-tabs h3:hover {
  cursor: pointer;
}

.menu-active-tab {
  border-bottom: 3px solid blue;
}

.menu-tab-body {
  padding-top: 16px;
  max-width: 1100px;
}

.droppable-area {
  width: 400px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

#vehicleTable {
  width: 100%;
  display: flex;
  align-items: center;
}

#vehicleTable th,
#vehicleTable div,
#vehicleTable input {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  height: 40px;
  padding: 16px 6px;
}
.routesTable,
.routesTableBody {
  width: 100%;
  display: flex;
  align-items: center;
}

.routesTable th,
.routesTable div,
.routesTable input,
.routesTableBody th,
.routesTableBody div,
.routesTableBody input {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  height: 40px;
  padding: 16px 0px;
}

.routesTable th:last-child,
.routesTable div:last-child,
.routesTableBody th:last-child,
.routesTableBody div:last-child {
  width: 200%;
  display: flex;
  align-items: center;
}
.routeAndColor {
  height: 100%;
  width: 100%;
}

.pinConnectColor {
  width: 20px;
  height: 100%;
  color: transparent;
}

.addVehicleBtn {
  width: 120px;
  text-align: center;
  border: 1px solid gainsboro;
  color: rgb(143, 143, 143);
  margin-top: 24px;
  padding: 8px 16px;
  border-radius: 6px;
}

.addVehicleBtn:hover {
  background-color: #b9b9b9;
  color: white;
  cursor: pointer;
}

.resetButtonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.resetRoutesBtn {
  border: 1px solid black;
  background: rgb(0, 0, 131);
  color: white;
  width: 150px;
  text-align: center;
  margin-top: 32px;
  padding: 10px 4px;
  border-radius: 6px;
  font-size: 18px;
}

.resetRoutesBtn:hover {
  background-color: rgb(0, 0, 168);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(133, 133, 133);
}

#vehicleBody {
  display: flex;
}

.gg-trash {
  scale: 1.5;
}

.gg-trash:hover {
  cursor: pointer;
  color: red !important;
}

.dropdown-input {
  cursor: pointer;
  width: 100%;
  height: 74px;
  border: 1px solid #dcdcdc;
}

.applyBtn {
  color: white;
  background-color: rgb(0, 160, 255);
  font-size: 14px;
  border-radius: 4px;
  padding: 6px 12px;
}

.applyBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 175, 255);
}
.applyBtn:disabled {
  cursor: default;
  background-color: rgb(236, 236, 236);
  color: #a2a2a2;
}

input:disabled {
  color: gray;
}

.fa-lock,
.fa-lock-open {
  width: 55px;
  font-size: 35px;
  margin-top: -2px;
}

.fa-lock-open:hover,
.fa-lock:hover {
  cursor: pointer;
}

.card {
  width: 140px;
  text-align: center;
  margin: 10px 15px;
  border-radius: 10px;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card h2 {
  margin-bottom: 0;
  margin-top: 10px;
}

.card p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardContent {
  display: none;
  width: 250px;
  background-color: white;
  position: absolute;
  top: 90px;
  z-index: 100;
  border: 1px solid rgb(184, 184, 184);
}

.infoCard {
  display: flex;
  justify-content: center;
}

.infoCard div:first-child {
  border-right: 1px solid rgb(217, 217, 217);
  width: 100%;
}

.infoCard div {
  width: 100%;
  height: 100%;
}

.infoCard div p {
  border-bottom: 1px solid rgb(217, 217, 217);
  width: 100%;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 0;
}

.resetRoutesBtn:disabled {
  background: #ececec;
  color: #a2a2a2;
  cursor: default;
  box-shadow: none;
}

.datePickerContainer {
  position: relative;
  width: 50px !important;
  border: none !important;
  margin-left: 6px;
  margin-right: -10px;
}

.datePickerContainer i {
  position: absolute;
  top: 17px;
  font-size: 35px;
  color: gray;
}

.datePicker {
  position: absolute;
  border: none !important;
  margin: 0 8px;
  width: 30px !important;
  background: transparent;
  z-index: 2;
}

.datePicker:hover {
  cursor: pointer;
}

.datePicker:focus {
  outline: none;
}

.datePicker::-webkit-calendar-picker-indicator {
  width: 50px !important;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn-container {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
  max-width: 700px;
}

.nav-btn-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  align-items: end;
}

.nav-btn {
  flex-direction: column;
  margin: 0 16px;
}

.nav-btn button {
  height: 40px;
  background-color: rgb(74, 179, 245);
  color: white;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.nav-btn button:hover {
  background-color: rgb(0, 152, 247);
  cursor: pointer;
}

.bigCard {
  margin: 8px;
  max-width: 200px;
  height: 100%;
  padding: 16px;
}

.bigCard h2 {
  margin: 0;
  font-size: 16px;
}

.bigCard p {
  margin: 6px 0;
}

.bigInfoCard {
  display: flex;
  justify-content: space-between;
}

.cardHeadings {
  border-bottom: 1px solid black;
  font-style: italic;
}
.dateBackground {
  width: 100%;
  padding: 4px 0;
  background-color: orange;
}

.gaugeIcon {
  background: red;
  color: black;
  font-size: 24px;
  border-radius: 50%;
}

.overweight i {
  margin-left: 140px;
  font-size: 26px;
}

.availabilityTable {
  margin-right: 16px;
  border-collapse: collapse;
}

.availabilityTable th,
.availabilityTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
