body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

.layout {
  height: 100%;
  width: 100%;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
}

.nav-bar-btn {
  border: none;
  font-size: 84px;
  padding: 0 12px;
  color: rgb(186, 186, 186);
  margin: 0;
  cursor: default;
  width: 50px;
  margin-top: -10px;
  user-select: none;
}

.nav-bar-btn:hover {
  cursor: pointer;
  color: rgb(148, 148, 148);
}

.container {
  height: 100%;
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  padding: 0 16px;
  z-index: 10;
  background-color: rgb(241, 241, 241);
}

.menu-tabs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
  cursor: default;
  height: 65px;
}

.menu-tabs h3:hover {
  cursor: pointer;
}

.menu-active-tab {
  border-bottom: 3px solid blue;
}

.menu-tab-body {
  padding-top: 16px;
  max-width: 1100px;
}

#droppable-area {
  width: 400px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

#vehicleTable {
  width: 100%;
  display: flex;
  align-items: center;
}

#vehicleTable th,
#vehicleTable div,
#vehicleTable input {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  height: 40px;
  padding: 16px 6px;
}
#routesTable,
#routesTableBody {
  width: 100%;
  display: flex;
  align-items: center;
}

#routesTable th,
#routesTable div,
#routesTable input,
#routesTableBody th,
#routesTableBody div,
#routesTableBody input {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  height: 40px;
  padding: 16px 0px;
}

#routesTable th:last-child,
#routesTable div:last-child,
#routesTableBody th:last-child,
#routesTableBody div:last-child {
  width: 250%;
  display: flex;
  align-items: center;
}

#addVehicleBtn {
  width: 120px;
  text-align: center;
  border: 1px solid gainsboro;
  color: rgb(143, 143, 143);
  margin-top: 24px;
  padding: 8px 16px;
  border-radius: 6px;
}

#addVehicleBtn:hover {
  background-color: #b9b9b9;
  color: white;
  cursor: pointer;
}

#resetRoutesBtn {
  border: 1px solid black;
  background: rgb(0, 0, 131);
  color: white;
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-top: 32px;
  padding: 10px 4px;
  border-radius: 6px;
  font-size: 18px;
}

#resetRoutesBtn:hover {
  background-color: rgb(0, 0, 168);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(133, 133, 133);
}

#vehicleBody {
  display: flex;
}

.gg-trash {
  scale: 1.5;
}

.gg-trash:hover {
  cursor: pointer;
  color: red !important;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-input {
  padding: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  top: 60px;
  z-index: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.033);
  border-radius: 4px;
  width: 150px !important;
}

.dropdown-content label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.dropdown-content input {
  margin-right: 8px;
  height: 15px !important;
  width: 20px !important;
  margin: 0;
}

.dropdown-content label:hover {
  background-color: #ddd;
}

.dropdown-container.open .dropdown-content {
  display: block !important;
}

#applyBtn {
  color: white;
  background-color: rgb(0, 160, 255);
  font-size: 14px;
  border-radius: 4px;
  padding: 6px 12px;
}

#applyBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 175, 255);
}

.lock {
  background: #00005e;
  border-radius: 3px;
  width: 25px;
  height: 20px;
  margin-top: 27px;
  margin-left: 20px;
  position: relative;
}

.lock:hover {
  cursor: pointer;
}

.lock:before {
  content: '';
  display: block;
  position: absolute;
  border: 3px solid #00005e;
  top: -14px;
  left: 2.3px;
  width: 15px;
  height: 27px;
  border-radius: 35px 35px 0 0;
}
